@using ProiectFinalASP.Models;

@model IEnumerable<ProiectFinalASP.Models.Cart>

@{
    ViewBag.Title = "ShoppingCart";
}

@if (Credentials.IsLoggedIn == true)
{
    <!-- Sow login username-->
    <h2>Logged in as @Credentials.LoggedinUsername</h2>
    <html>
    <body>
        <style>
            td {
                padding: 40px;
            }
        </style>
        <table><!-- Create table and add columns-->
            <thead>
                <tr>
                    <th>Product name</th>
                    <th>Product price</th>
                    <th>Product image</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) //Go trough each item in carts database, and show item price and image
                {
                    <tr>
                        <td>@item.itemName</td>
                        <td>@item.itemPrice</td>
                        <td>
                            <img src="@Url.Content("~/Images/")@item.itemImageUrl" alt="Image" width="50" height="50">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <form id="myForm"><!-- Add button to confim cart purchase-->
            <button type="submit">Confirm Purchase</button>
        </form>
    </body>
</html>
}
else
{
<h1>Log in to see shopping cart</h1>
}

@section scripts{   
    <script>
        $(document).ready(function () {
            $("#myForm").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Confirm", "Store")", //Receive button data and send it to the Confirm method in the StoreController
                    success: function (data) {
                        // Handle the response
                        alert(data);
                    },
                    error: function (xhr, status, error) {
                        // Handle the error
                        alert(error);
                    }
                });
            });
        });
    </script>
}